name: Deploy OWASP Juice Shop

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: v1.35.0

    - name: Configure kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~/.kube/config

    - name: Deploy Namespace
      run: kubectl apply -f k8s/namespace.yaml

    - name: Deploy Juice Shop
      run: |
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml

    - name: Apply Cilium Security Policies
      run: kubectl apply -f k8s/cilium-policy.yaml

    - name: Verify
      run: kubectl get pods -n juice-shop -o wide
